.mCal{
  margin-left: 5px;
  margin-right: 5px;
  width: 250px;
  display: block;
}

.fc-ltr .fc-time-grid .fc-event-container {
  margin: -5px 2.5% 0 2px !important;
}

.fc-day-header{
  word-spacing: 1460px;
  word-wrap:break-word;
}

.fc td{
  padding-top: 5px !important;
}


.wCal{
  border-left: #282c34;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
}
.fc-time-grid-container{
  background-color: white !important;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% auto 20% auto;
}

.fc-highlight {
  background: #0288d1 !important;
  width: auto;
  height: auto;
  /* border-radius: 50%; */
  opacity: 1 !important;
  cursor: pointer;
}



.calendar-grid-container{
  padding: 15px;
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item{
  text-align: left;
  margin: 2px 2px 2px 2px;
}

/* Custom CSS to Calendar */
.fc-time-grid .fc-slats td {
  height: 2em !important;
  border-bottom: 0;
}

.fc-dayGrid-view .fc-body .fc-row {
  min-height: 2em !important;
}
.fc-toolbar h2 {
  font-size: 1.2em !important;
  margin: 0;
}

.candidatePanelFont{
  border-radius: .5rem;
  color: black;
  direction: ltr;
  display: block;
  background: #fff;
  margin: 1rem;
  position: relative;
}
.candidatePanelFont >.grid-container{
  padding: 20px;
}

.candidatePanelFont >.grid-container > .label {
  font-weight: bold;
  font-size: 13px;
}
.fc-title{
  position: relative;
  /* color: black; */
}


.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
  float: none !important;
}


.fc {
  direction: ltr;
  text-align: center !important;
  vertical-align: middle !important;
}


 .fc-button{
    background-color: #808080 !important;
}

.fc-dayGridMonth-view{
font-size: 12px !important;
}


/* css for Legends starts */

.Legend-grid{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 20% auto 20% auto;
  grid-gap: 5px;
  text-align: left;
}

.Legend-div{
  width:16px;
  margin-left:15px;
  border:1px solid #808080;
  display:inline-block;
}

.Red {background-color:red;}
.Green {background-color:#3CB371;}
.Blue {background-color:#0572ce;}
.Grey {background-color:#E0E0E0;}
/* css for Legends ends */


.availableDays{
  background-color: #3CB371 !important;
  color: white !important;
}

.bookedDays{
  background-color:#FA8072 !important;
}

.fc-event{
  border-radius: 0px !important;
}

.availableEvent{
  /* top : 63px !important;
  bottom: -95px !important; */
  background-color:transparent !important;
  border: none !important;
  border-radius: none !important;
  border-left: 10px solid #3CB371 !important;
}

.bookedEvent{
  background-color:transparent !important;
  border: none !important;
  border-left: 10px solid red !important;
}

.cSelectedEvent{
  background-color:transparent !important;
  border: none !important;
  border-left: 10px solid #0572ce !important;
}

.ddbutton
{
color: white;
overflow: visible;
background-color: #808080;
border-color: #808080;
display: block;
font-weight: bold;
text-align: center;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 9px;
margin-right: 20px;
float: left;
margin-top: 20px;
font-size: 13px;
line-height: 1.42857;
border-radius: 4px;
}


.backButton{
  display: none;
  background-color: transparent;
  border : none;
  width : 100px;
  float: left;
  font-size: 13px;
  line-height: 1.42857;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
} 


.notification-container{
  margin-top :5% !important;
  min-width: 400px !important;
}

@media only screen and (max-width: 715px) {
  .fc-day-header{
    word-spacing: 40px;
    word-wrap:break-word;
  }
}

@media only screen and (max-width: 415px) {
  .grid-container{
    display: grid;
    grid-template-columns: auto auto;
  }
  .fc-ltr .fc-time-grid .fc-event-container {
    margin: -14px 2.5% 0 2px !important;
  }

  
.notification-container{
  margin-top :12% !important;
}

  .fc td{
    padding-top: 15px !important;
  }

  .fc-today {
      background-color :none !important;
  }

  .fc-day-header{
    word-spacing: 415px;
    word-wrap:break-word;
  }
  .wCal{
    display: none;
  }
  .fc-timeGridWeek-button{
    display: none !important;
  }
  .mCal{
    width: auto;
    height: auto;
    align-content: center !important
  }
  .calendar-grid-container{
    display: grid;
    grid-template-columns: auto;
  }
}