

/* CSS for Popup  */
.modal {
    font-size: 12px;
    border-radius: 4px;
  }

  .popup-overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal > .content >.grid-container {
    display: grid;
    text-align: left;
    grid-template-columns: auto auto;
    font-size: 14px ;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    margin: auto;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  
.popup-header {
    margin-top: -6px;
    margin-left: -6px;
    margin-right: -6px;
}

.popup-header-style{
    background-color: #0A2356;
    display:block;
  }
  
  .popup-divider {
    height: 4px !important;
    width: 100%;
    background: #F47422;
    z-index: 3;
  }
  
  .popup-title {
    /* vertical-align: middle !important;   */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFFFFF !important;
    text-align: center;    
    padding: 22px 8px 5px;
    font-size:20px;
    font-weight:500;
    height:13px;
    line-height:13px;
  }

  .popup-label{
      font-weight: 500;
  }
  .popup-button {
    color: white;
    overflow: visible;
    background-color: #808080;
    border-color: #808080;
    display: block;
    /* font-weight: bold; */
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 9px;
    margin-right: 20px;
    float: right;
    margin-top: 20px;
    font-size: 13px;
    line-height: 1.42857;
    border-radius: 4px;
}

@media only screen and (max-width: 415px) {
.popup-title{
  font-size: 14px;
}
}