.App {
  text-align: center;
}

body {
  font-family: SourceSansPro, "Helvetica Neue", Arial !important;
  font-size: 13px;
  line-height: 1.42857;
  color: #303a46;
}

/* CSS for Header Section starts */

/* css for splash screen */

.splash-screen {
  margin-top: 20%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-screen {
  margin-top: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splash-screen .loading-dot {
  font-size: 100px;
  margin-top: -80px;
  position: relative;
  animation: ease-in-out infinite alternate;
  animation-name: runSpl;
  animation-duration: 1.2s;
}

@keyframes runSpl {
  0% {
    left: -100px;
    color: #eee;
  }
  50% {
    color: blue;
  }
  100% {
    left: 100px;
    color: #eee;
  }
}

.loading-screen-container {
  /* height: 100vh; */
  /* width: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style-type: none;
  height: 20px;
  width: 4px;
  margin: 0 10px;
  background-color: black;
  animation: loading 1s infinite alternate;
}
ul {
  display: flex;
}
ul li:nth-child(1) {
  animation-delay: 0.1s;
}
ul li:nth-child(2) {
  animation-delay: 0.2s;
}
ul li:nth-child(3) {
  animation-delay: 0.3s;
}
ul li:nth-child(4) {
  animation-delay: 0.4s;
}
ul li:nth-child(5) {
  animation-delay: 0.5s;
}
ul li:nth-child(6) {
  animation-delay: 0.6s;
}
ul li:nth-child(7) {
  animation-delay: 0.7s;
}
ul li:nth-child(8) {
  animation-delay: 0.8s;
}
ul li:nth-child(9) {
  animation-delay: 0.9s;
}
ul li:nth-child(10) {
  animation-delay: 1s;
}

@keyframes loading {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1);
  }
  75% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(3);
  }
}

.card {
  background: #fff;
  box-shadow: 0 0.1rem 1.1rem #c6ced6;
  overflow: hidden;
  &__header {
    font-size: 15px;
    padding: 1rem 0 10px 0;
    background-color: #657be7;
    color: white;
    text-align: center;
    font-weight: bold;
  }
}
